:root {
	--color-accent-primary: #c21d16;
	--color-accent-secondary: #d42018;
	--color-accent-tertiary: #ab1914;
	--color-background-primary: #fff;
	--color-background-secondary: #283337;
	--color-background-tertiary: #4d6269;
	--color-border-primary: #dde4e7;
	--color-border-secondary: #192022;
	--color-hover-primary: #f5f5f5;
	--color-hover-secondary: #131819;
	--color-link: #283337;
	--color-negative: #f00;
	--color-text-secondary: #c0cdd1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
}

#header {
	background-color: var(--color-background-tertiary);
}

#header .container {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
}

.logo-image {
	height: 90px;
	max-width: 100%;
}

#nav-bar {
	align-items: center;
	background-color: var(--color-background-secondary);
	border-bottom: 5px solid var(--color-accent-primary);
	color: var(--color-background-primary);
	display: flex;
	padding-inline: 2rem;
	position: sticky;
	top: 0;
	z-index: 1;
}

#menu {
	display: flex;
}

.menu-item {
	color: var(--color-text-secondary);
	display: flex;
	text-decoration: none;
}

.menu-item:hover {
	color: var(--color-background-primary);
}

.menu-item.active {
	background-color: var(--color-hover-secondary);
	color: var(--color-background-primary);
}

.dropdown {
	position: relative;
}

.dropdown-menu {
	background-color: var(--color-background-primary);
	display: none;
	flex-direction: column;
	left: 0;
	padding-block: 0.25rem;
	position: absolute;
	top: 100%;
}

.dropdown.active .dropdown-menu {
	display: flex;
}

.dropdown-item {
	color: var(--color-background-tertiary);
	display: flex;
	font-size: 0.875rem;
	text-decoration: none;
	white-space: nowrap;
}

.dropdown-item:hover {
	background-color: var(--color-hover-primary);
	color: var(--color-background-tertiary);
}

.divider {
	background-color: var(--color-border-primary);
}

.tertiary-title {
	font-size: 1rem;
}

#menu-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0.5rem;
}

.mobile {
	display: none;
}

#mobile-menu {
	border-top: 1px solid transparent;
	flex-direction: column;
	height: 0;
	overflow-y: auto;
	transition: 0.3s;
	width: 100%;
}

#mobile-menu.show {
	border-top: 1px solid var(--color-border-secondary);
	height: 50vh;
}

#main {
	background: linear-gradient(45deg, var(--color-accent-primary), var(--color-accent-tertiary));
	display: flex;
	flex-direction: column;
}

.primary-title {
	font-size: 3rem;
}

#main-header {
	color: var(--color-background-primary);
	padding-block: 4rem;
	padding-inline: 2rem;
	text-align: center;
	text-transform: uppercase;
}

#main-content {
	align-items: center;
	background: linear-gradient(to bottom, transparent 100px, var(--color-background-primary) 100px);
	display: flex;
	flex-direction: column;
	padding-inline: 2rem;
}

#main-content .container {
	background-color: var(--color-background-primary);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.video {
	width: 100%;
}

.content-area {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.secondary-title {
	color: var(--color-background-tertiary);
	font-size: 2rem;
	text-transform: uppercase;
}

.title {
	font-weight: 500;
}

#content {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.list {
	list-style: none;
}

.paragraph {
	color: var(--color-background-tertiary);
	font-size: 0.875rem;
}

#footer {
	background-color: var(--color-background-secondary);
	border-top: 5px solid var(--color-accent-primary);
	color: var(--color-background-primary);
}

#footer .container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

#footer .paragraph {
	color: var(--color-text-secondary);
	text-align: center;
}

.container {
	width: min(100%, 67.5rem);
}

#header,
#main-content .container,
#footer {
	padding: 2rem;
}

#acessibility-bar,
#header,
#nav-bar,
#main-header,
#footer {
	display: flex;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.fieldset:last-child {
	flex-direction: row;
}

.legend {
	margin-bottom: 1rem;
}

.label {
	color: #4d6269;
	font-size: 1rem;
}

.textarea {
	resize: none;
}

.input,
.select,
.textarea {
	border: 1px solid var(--color-border-primary);
	border-radius: 0.25rem;
	color: var(--color-background-tertiary);
	font-size: 0.875rem;
	outline-color: var(--color-hover-secondary);
}

.required::after {
	content: '\00a0*';
	color: var(--color-negative);
}

.button {
	background-color: var(--color-background-secondary);
	border: none;
	border-radius: 0.25rem;
	color: var(--color-background-primary);
	cursor: pointer;
}

.button:hover {
	background-color: var(--color-hover-secondary);
}

.menu-item,
.dropdown-item,
.input,
.select,
.textarea,
.button {
	padding-block: 0.75rem;
	padding-inline: 1rem;
}

@media screen and (max-width: 740px) {
	#header {
		display: none;
	}

	#nav-bar {
		display: flex;
		flex-direction: column;
		padding-inline: 0;
	}

	#nav-bar .container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding-block: 1rem;
		padding-inline: 0.75rem;
	}

	#menu {
		display: none;
	}

	.mobile {
		display: flex;
	}

	.dropdown-menu {
		background-color: unset;
		border-block: 1px solid var(--color-border-secondary);
		padding-block: 0;
		position: unset;
	}

	.dropdown-item {
		color: var(--color-text-secondary);
		padding-left: 2rem;
	}

	.dropdown-item:hover {
		color: var(--color-background-primary);
	}

	.dropdown-item.active {
		background-color: var(--color-hover-secondary);
		color: var(--color-background-primary);
	}

	#main-content {
		padding-inline: 0;
	}

	.primary-title {
		font-size: 2rem;
	}

	.secondary-title {
		font-size: 1.5rem;
	}
}
