:root {
	--color-accent-primary: #c21d16;
	--color-accent-secondary: #d42018;
	--color-accent-tertiary: #ab1914;
	--color-background-primary: #fff;
	--color-background-secondary: #283337;
	--color-background-tertiary: #4d6269;
	--color-border-primary: #dde4e7;
	--color-border-secondary: #192022;
	--color-hover-primary: #f5f5f5;
	--color-hover-secondary: #131819;
	--color-link: #283337;
	--color-negative: #f00;
	--color-text-secondary: #c0cdd1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	interpolate-size: allow-keywords;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 14px;
}

.divider {
	background-color: var(--color-border-primary);
}

.tertiary-title {
	font-size: 1rem;
}

#main {
	background: linear-gradient(45deg, var(--color-accent-primary), var(--color-accent-tertiary));
	display: flex;
	flex-direction: column;
}

.primary-title {
	font-size: 3rem;
}

#main-header {
	color: var(--color-background-primary);
	padding-block: 4rem;
	padding-inline: 2rem;
	text-align: center;
	text-transform: uppercase;
}

#main-content {
	align-items: center;
	background: linear-gradient(to bottom, transparent 100px, var(--color-background-primary) 100px);
	display: flex;
	flex-direction: column;
	padding-inline: 2rem;
}

#main-content .container {
	background-color: var(--color-background-primary);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.box {
	border: 1px solid var(--color-border-primary);
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.video {
	display: flex;
	height: 100%;
	width: 100%;
}

.content-area {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.secondary-title {
	color: var(--color-background-tertiary);
	font-size: 2rem;
	text-transform: uppercase;
}

.title {
	font-weight: 500;
}

#content {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.list {
	list-style: none;
}

.paragraph {
	color: var(--color-background-tertiary);
	font-size: 0.875rem;
}

.container {
	width: min(100%, 67.5rem);
}

#main-content .container {
	padding: 2rem;
}

#main-header {
	display: flex;
	justify-content: center;
}

.image {
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.fieldset {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.fieldset:last-child {
	flex-direction: row;
}

.legend {
	margin-bottom: 1rem;
}

.label {
	color: #4d6269;
	font-size: 1rem;
}

.textarea {
	resize: none;
}

.input,
.select,
.textarea {
	border: 1px solid var(--color-border-primary);
	border-radius: 0.25rem;
	color: var(--color-background-tertiary);
	font-size: 0.875rem;
	outline-color: var(--color-hover-secondary);
}

.required::after {
	content: '\00a0*';
	color: var(--color-negative);
}

.button {
	background-color: var(--color-background-secondary);
	border: none;
	border-radius: 0.25rem;
	color: var(--color-background-primary);
	cursor: pointer;
}

.button:hover {
	background-color: var(--color-hover-secondary);
}

.input,
.select,
.textarea,
.button {
	padding-block: 0.75rem;
	padding-inline: 1rem;
}

.mobile {
	display: none;
}

@media screen and (max-width: 740px) {
	.mobile {
		display: flex;
	}

	#main-content {
		padding-inline: 0;
	}

	.primary-title {
		font-size: 2rem;
	}

	.secondary-title {
		font-size: 1.5rem;
	}
}
